# Arch
CONFIG_ARCH_QCOM=y
CONFIG_ARCH_MSM8917=y
CONFIG_ARCH_MSM8920=y
CONFIG_ARCH_MSM8937=y
CONFIG_ARCH_MSM8940=y
CONFIG_ARCH_QM215=y
CONFIG_ARCH_SDM429=y
CONFIG_ARCH_SDM439=y

# Boot
# CONFIG_EFI is not set

# Busses

# Char devices
CONFIG_HW_RANDOM_MSM_LEGACY=y

# Clock
CONFIG_COMMON_CLK_QCOM=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_SDM_GCC_429W=y
CONFIG_SDM_DEBUGCC_429W=y
CONFIG_SDM_DEBUGCC_439=y
CONFIG_CLOCK_CPU_SDM=y

# Coresight
# CONFIG_CORESIGHT is not set

# CPU freq
CONFIG_CPU_FREQ_MSM=y

# devfreq
CONFIG_DEVFREQ_SIMPLE_DEV=y
# msm_bus drivers/devfreq/ CONFIG_QCOM_DEVFREQ_DEVBW=y 

# Firmware
CONFIG_QCOM_SCM=y

# HW Spinlock
CONFIG_HWSPINLOCK_QCOM=y

# Input
CONFIG_INPUT_QPNP_POWER_ON=y

# IOMMU
CONFIG_QTI_IOMMU_SUPPORT=y
CONFIG_ARM_SMMU=y
CONFIG_QCOM_LAZY_MAPPING=y

# IRQ chip
CONFIG_QCOM_MPM=y

# Kernel features
CONFIG_NR_CPUS=8
CONFIG_HZ_100=y
# CONFIG_ARM64_ERRATUM_1024718 is not set
# CONFIG_ARM64_SSBD is not set
# CONFIG_PARAVIRT is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1003 is not set

# MFD
CONFIG_MFD_SPMI_PMIC=y

# Pinctrl
CONFIG_PINCTRL_MSM8917=y
CONFIG_PINCTRL_MSM8937=y

# Platform
CONFIG_SPS=y
CONFIG_SPS_SUPPORT_NDP_BAM=y
CONFIG_QPNP_REVID=y

# Regulator
CONFIG_REGULATOR_RPM_SMD=y
CONFIG_REGULATOR_CPR=y
CONFIG_REGULATOR_MEM_ACC=y
CONFIG_REGULATOR_SPM=y

# RPMSG
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_MSM_RPM_SMD=y

# RTC
CONFIG_RTC_DRV_PM8XXX=y

# Serial console
CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_SERIAL_MSM_HS=y

# SoC
CONFIG_QCOM_DCC=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_MSM_BOOT_STATS=y
CONFIG_QCOM_WDT_CORE=y
CONFIG_QCOM_SOC_WATCHDOG=y
CONFIG_MSM_CORE_HANG_DETECT=y
#CONFIG_QCOM_SMP2P=y
#CONFIG_QCOM_SMP2P_SLEEPSTATE=y
#CONFIG_QCOM_SMSM=y
CONFIG_MSM_SPM=y
CONFIG_QCOM_BUS_SCALING=y
CONFIG_MSM_TZ_SMMU=y
# CONFIG_MSM_PM=y wait for cpuidle driver
# unchecked yet
CONFIG_QGKI=n
CONFIG_MSM_L2_SPM=y
CONFIG_QPNP_PBS=y

# SPMI
CONFIG_SPMI_MSM_PMIC_ARB=y

##########

# Compilation
# CONFIG_CFI_CLANG is not set
# CONFIG_LTO_CLANG is not set
# CONFIG_SHADOW_CALL_STACK is not set
# CONFIG_HARDEN_BRANCH_PREDICTOR is not set

# OF
CONFIG_OF_IGNORE_QCOM_VENDOR_DTS=y

# Localversion
CONFIG_LOCALVERSION="-Mi8937v2-SoC-Bringup"

# Panic
CONFIG_PANIC_TIMEOUT=1

# Pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_LZ4_COMPRESS=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Ramdisk
CONFIG_RD_LZMA=y
CONFIG_RD_XZ=y

# Reduce size
# CONFIG_SLUB_DEBUG is not set

##########

# Framebuffer console
CONFIG_VT=y
CONFIG_FB=y
CONFIG_FB_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_LOGO=y

# unsure
CONFIG_ARCH_MMAP_RND_COMPAT_BITS=16


CONFIG_ZONE_DMA32=y
CONFIG_ARCH_HISI=n
CONFIG_PCI=n
CONFIG_ARM64_VHE=n
CONFIG_PARAVIRT=n
CONFIG_ARM_CPUIDLE=n
CONFIG_ARM_SCPI_CPUFREQ=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_JUMP_LABEL=n
CONFIG_GKI_HACKS_TO_FIX=n
CONFIG_SERIO_SERPORT=n
CONFIG_SERIAL_8250=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_COMMON_CLK_SCPI=n
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_DEBUG_ALIGN_RODATA=y
CONFIG_CORESIGHT=n
CONFIG_SLAB_FREELIST_RANDOM=n
CONFIG_SLAB_FREELIST_HARDENED=n
CONFIG_CLEANCACHE=n
